{% extends 'base.html.twig' %}

{% block title %}Forgot{% endblock %}

{% block body %}

    <!-- sign up model starts here -->
    <div id="signupModal" class="modal fade">
        <div class="modal-dialog modal-dialog-vertical-center" role="document">
            <div class="modal-content bd-0 tx-14">
                <div class="modal-header">
                    <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Wanna join portal</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body pd-25">
                    <p class="mg-b-5">
                        Do you rely wanna join portal just contact with your <b>Admin</b> or <b>Coordinator.</b>
                    </p>
                </div>
            </div>
        </div><!-- modal-dialog -->
    </div>
    <!-- sign up model ends here-->

    <div class="d-md-flex flex-row-reverse">
        <div class="signin-right">
            <div class="signin-box">
                <h2 class="signin-title-primary">Forgot password!</h2>
                <h3 class="signin-title-secondary">give email to get verify link.</h3>
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
                <form method="post">
                    <div class="form-group">
                        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                    </div><!-- form-group -->
                    <button type="submit" class="btn btn-primary btn-block btn-signin">Forgot</button>
                </form>
                <p class="mg-b-0">Back to your account? <a href="{{ url('app_login') }}">Sign in</a></p>
            </div>

        </div><!-- signin-right -->
        <div class="signin-left">
            <div class="signin-box">
                <h2 class="slim-logo"><a href="{{ url('dashboard_home') }}">ISP<span>.</span></a></h2>
                <p>
                    Institute of Southern Punjab Multan (ISP) is an autonomous privately managed institute. The Institute has been legislated by the Government of Punjab vide Act No. XIV/2010 on 21 July, 2010.
                </p>
                <p><a href="" class="btn btn-outline-secondary pd-x-25">Learn More</a></p>
                <p class="tx-12">&copy; Copyright 2019. All Rights Reserved.</p>
            </div>
        </div><!-- signin-left -->
    </div><!-- d-flex -->
{% endblock %}
