{% extends 'dashboard_base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    {% include 'partials/header.html.twig' %}
    <div class="slim-body">
        {% include 'partials/sidebar.html.twig' with departments %}
        <div class="slim-mainpanel">
            <div class="container">
                <div class="slim-pageheader">
                    <ol class="breadcrumb slim-breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Blank Page</li>
                    </ol>
                    <h6 class="slim-pagetitle">Dashboard</h6>
                </div><!-- slim-pageheader -->
                <div class="row mg-t-20">
                    <div class="col-lg-6">
                        <h3>Assignments</h3>
                        <div class="file-group">
                            {% for assignment in assignments %}
                                <div class="file-item row justify-content-between">
                                    <div>
                                        <a href="{{ url('assignment_show', {'assignmentSlug' : assignment.slug }) }}" >{{ assignment.assignmentTitle }}</a>
                                    </div>
                                    <div>
                                        {{ assignment.createdAt | humanReadableDate }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
